/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* outline: 1px solid red; */
}
html{
    background:#E5E5E5;;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 100%;
    height: 100%;
}


/* HEADER */



        /* BAR DISCOUNT */

.barDiscount{
    width: 100%;
    background: #1CD1B0;
}
.barDiscount p{
    font-style: normal;
    font-size: 0.9rem;
    line-height: 1.18rem;
    padding: 0.6rem 1.6rem;
    color: #000000;
}

        /* TITLE */

.title{
    display: flex;
    justify-content: left;
    align-items: center;
    padding:0 0.6rem;
    width: 100%;
    background: #00669F;
    box-shadow: 0px 0.6rem 0.4rem rgba(0, 0, 0, 0.25);
}
.store{
    font-size: 5rem;
    color:white;
    
}
h1{
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
    padding: 1.75rem 1.75rem 1.6rem;
    
}
        /* HOME */

.home{
    background-color: #001d2d;
    boX-shadow:0 0.25rem 0.25rem rgba(0,0,0,0.25);
    width: 100%;
}
.home>ul{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1.2rem;
    color:white;
    list-style: none;
    padding: 0.6rem 1.2rem;
}


/* main */

/* container */
div.container{
    display: flex;
    position:relative;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-content: space-between;
    margin: 9.3px 1.8rem;
    gap: 1.15rem;
}
div.cards{
    position: relative;
    background-color: #F3F3F3;
    border-radius: 1rem 1rem 0px 0px;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    width: 18.7rem;
    height: 33rem;
}
.fondo-perfil{
    width: 18.7rem;
    height: 12rem;
}
.foto-perfil{
    position: absolute;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100%;
    background-image: url(../img/perfil-batman.svg);
    top: 8.1rem;
    right: 5.8rem;
}
div.icon{
    position: absolute;
    top: 3%;
    left: 6%;
}

.name{
    
    font-style: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 4.6rem;
    padding-bottom: 0.6rem;
}
p.description{
    font-size: 1rem;
    line-height: 1.18rem;
    color: #333333;
    padding-left: 1rem;
    padding-right: 1rem;  
    margin-bottom: 2.3rem;  
}
button{
    background-color: #00669F;
    width: 128.78px;
    height: 48.52px;
    border:none;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.18rem;
    color: #F3F3F3;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    
}


/* BTN-PLUS-ADD */
.content-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.plus-btn-add{
    color: #00669F;
    font-size: 5rem;
}
.plus-btn-add:hover{
    color:black;
}
/* FOOTER */

footer{
    background: #00669F;
    padding: 1rem 1.25rem;
    width: 100%;
}
footer>p{
    text-align: center;
    font-size: 1rem;
    line-height: 1.18rem;
    color: #FFF9F9;
}

















