/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* outline: 1px solid red; */
}
html{
    background:#E5E5E5;;
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    width: 100%;
}

/* BAR DISCOUNT */


.barDiscount{
    width: 100%;
    height: 38px;
    background: #1CD1B0;
}
.barDiscount p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    padding: 10px 27px;
    color: #000000;
}

/* HEADER */

header{
    width: 100%;
    height: 0.101%;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}
h1{
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    padding: 28px 28px 26px;
    
}

/* main */

/* container */
div.container{
    display: flex;
    position:relative;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-content: space-between;
    margin: 150px 30px;
    gap: 20px;
}
div.cards{
    position: relative;
    background-color: #F3F3F3;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 300px;
    height: 529px;
}
.fondo-perfil{
    width: 300px;
    height: 193px;
}
.foto-perfil{
    position: absolute;
    width: 120px;
    height: 118px;
    border-radius: 100%;
    background-image: url(../img/perfil-batman.svg);
    top: 130px;
    right: 93px;
}
div.icon{
    position: absolute;
    top: 3%;
    left: 6%;
}

.name{
    
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 74px;
    padding-bottom: 10px;
}
p.description{
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    padding-left: 16px;
    padding-right: 16px;  
    margin-bottom: 37px;  
}
button{
    background-color: #00669F;
    width: 128.78px;
    height: 48.52px;
    border:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    color: #F3F3F3;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    
}

/* FOOTER */

footer{
    background: #00669F;
    padding: 16px 20px;
}
footer>P{
    text-align: left;
    font-size: 16px;
    line-height: 19px;
    color: #FFF9F9;
}















